@model protean.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Forgot Password?";
}

@section Styles {
    <link href="~/Content/css/login-v1.css" rel="stylesheet" type="text/css" />
}

<div id="login-page">

    <div class="kt-login-v1" id="kt_login_v1" style="">

        @*-- ITEM --*@
        <div class="" style="margin-bottom:100px;">

            @*-- BODY --*@
            <div class="kt-login-v1__body">

                @*-- SECTION --*@
                <div class="kt-login-v1__section">
                    <div class="kt-login-v1__info">
                        <h1 class="kt-login-v1__intro"><a href="/" class="text-decoration-none"><img src="~/Content/media/logos/GRCC_Logo_Horizontal_White.png" style="width:100%;height:auto;" alt="GRCC Logo"></a></h1>
                        <p>
                            / design-forward; quality made /
                        </p>
                    </div>
                </div>

                @*-- SEPERATOR --*@
                <div class="kt-login-v1__seaprator"></div>

                @*-- WRAPPER --*@
                <div class="kt-login-v1__wrapper">
                    <div class="kt-login-v1__container">

                        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "kt-login-v1__form kt-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "PT-alert PT-alert-danger" })
                            <div class="form-group">
                                <h4 class="kt-login-v1__title">Forgot Password?</h4>
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "email ...", data_val_required = "Email is required", autofocus = "" } })
                            </div>

                            <div class="kt-login-v1__actions">
                                <button type="submit" class="btn PT-btn-default btn-lg btn-block">Request Reset Link</button>
                            </div>
                        }

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
