@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    ViewBag.Title = "Reset Password Confirmation";
}

@section Styles {
    <link href="~/Content/css/login-v1.css" rel="stylesheet" type="text/css" />
}

<div id="login-page">

    <div class="kt-login-v1" id="kt_login_v1" style="">

        @*-- ITEM --*@
        <div class="" style="margin-bottom:100px;">

            @*-- BODY --*@
            <div class="kt-login-v1__body">

                @*-- SECTION --*@
                <div class="kt-login-v1__section">
                    <div class="kt-login-v1__info">
                        <h1 class="kt-login-v1__intro"><a href="/" class="text-decoration-none"><img src="~/Content/media/logos/GRCC_Logo_Horizontal_White.png" style="width:100%;height:auto;" alt="GRCC Logo"></a></h1>
                        <p>
                            / design-forward; quality made /
                        </p>
                    </div>
                </div>

                @*-- SEPERATOR --*@
                <div class="kt-login-v1__seaprator"></div>

                @*-- WRAPPER --*@
            <div class="kt-login-v1__wrapper">
                <div class="kt-login-v1__container">
                    <p style="color:rgba(255,255,255,0.5);font-weight:500;font-size:1.3rem;">
                        Your password has been reset.
                    </p>

                    <div class="kt-login-v1__actions">
                        <a href="@Url.RouteUrl("login")" class="btn PT-btn-default btn-lg btn-block">CONTINUE</a>
                    </div>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}