<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=GRCDEV01;Initial Catalog=Portal-Dev-JDW;User Id=PTUser;Password=yzN6a6W3Vx#0VxIetpZh;MultipleActiveResultSets=true;"
    providerName="System.Data.SqlClient" />
  <add name="MigrationConnection" connectionString="Data Source=GRCDEV01;Initial Catalog=Portal-Dev-JDW;User Id=PTMigrationUser;Password=Y^srRbBhqY#xX7%at3#RBzE$JEppC5b6p9RS^#TcdC#5GJ666A;"
    providerName="System.Data.SqlClient" />
</connectionStrings>