<appSettings>
  <!-- Epicor Information -->
  <add key="EpicorUsername" value="User009" />
  <add key="EpicorPassword" value="Justanotherdayinthisworld!" />
  
  <add key="EpicorAppPoolHost" value="epicor.grandrapidschair.com"/>
  <!-- Changed by Jasmine 25-10-2021 -->
  <add key="EpicorAppPoolInstance" value="EpicorTest10"/>
  <add key="EpicorRestURL" value="https://epicor.grandrapidschair.com/EpicorTest10/api/v1"/>

  <!--<add key="EpicorAppPoolHost" value="grc-sbe10app"/>
  <add key="EpicorAppPoolInstance" value="EpicorLive10"/>
  <add key="EpicorRestURL" value="https://grc-sbe10app/EpicorTest10/api/v1"/>-->
</appSettings>