<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<!--C:\Users\JasmineMulla\Desktop\Projects\GRC\Portal Project\protean-master\Web.config-->
<configuration>
  <configSections>
    <section name="environmentConfiguration" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <section name="development" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <section name="development2" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <section name="development3" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <!-- Jasmine 24-10-2021 start -->
    <section name="development4" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <!-- Jasmine 24-10-2021 end -->
    <section name="staging" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <section name="production" type="MyUtils.KeyValueConfigurationSection, MyUtils" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <environmentConfiguration>
    <appSettings>
      <add key="YMIR" value="development" />
      <add key="64NV3G2" value="development2" />
      <add key="2Y12S22" value="development3" />
      <add key="GRCDEV01" value="staging" />
      <add key="unknown" value="production" />
      <!-- Jasmine 24-10-2021 -->
      <add key="WS01" value="development4" />
    </appSettings>
  </environmentConfiguration>

  <development>
    <appSettings>
      <!-- ************************************************ -->
      <!-- Joe DeWitt's home system -->
      <!-- ************************************************ -->
      <add key="EnvironmentType" value="development" />
      <add key="MachineNames" value="YMIR" />
      <!-- ************************************************ -->
      <!-- EMAIL  -->
      <!-- ************************************************ -->
      <add key="ErrorEmailRecipient" value="jdewitt@grandrapidschair.com" />
      <add key="AutomatedEmailUser" value="GRCC Portal (NO REPLY)" />
      <add key="AutomatedEmailEmail" value="noreply@grandrapidschair.com" />
      <add key="SMTPServer" value="localhost" />
      <!-- ************************************************ -->
      <!-- Development (testing) -->
      <!-- ************************************************ -->
      <add key="DebugMode" value="true" />
      <add key="PopulateTestData" value="true" />
      <add key="PopulateTestObjects" value="false" />
      <add key="Logs" value="D:\Logs\" />
      <!-- ************************************************ -->
    </appSettings>
  </development>

  <development2>
    <appSettings>
      <!-- ************************************************ -->
      <!-- Joe DeWitt's laptop -->
      <!-- ************************************************ -->
      <add key="EnvironmentType" value="development" />
      <add key="MachineNames" value="64NV3G2" />
      <!-- ************************************************ -->
      <!-- EMAIL  -->
      <!-- ************************************************ -->
      <add key="ErrorEmailRecipient" value="jdewitt@grandrapidschair.com" />
      <add key="AutomatedEmailUser" value="GRCC Portal (NO REPLY)" />
      <add key="AutomatedEmailEmail" value="noreply@grandrapidschair.com" />
      <add key="SMTPServer" value="localhost" />
      <!-- ************************************************ -->
      <!-- Development (testing) -->
      <!-- ************************************************ -->
      <add key="DebugMode" value="true" />
      <add key="PopulateTestData" value="true" />
      <add key="PopulateTestObjects" value="false" />
      <add key="Logs" value="C:\Logs\" />
      <!-- ************************************************ -->
    </appSettings>
  </development2>

  <development3>
    <appSettings>
      <!-- ************************************************ -->
      <!-- Joe DeWitt's workstation -->
      <!-- ************************************************ -->
      <add key="EnvironmentType" value="development" />
      <add key="MachineNames" value="2Y12S22" />
      <!-- ************************************************ -->
      <!-- EMAIL  -->
      <!-- ************************************************ -->
      <add key="ErrorEmailRecipient" value="jdewitt@grandrapidschair.com" />
      <add key="AutomatedEmailUser" value="GRCC Portal (NO REPLY)" />
      <add key="AutomatedEmailEmail" value="noreply@grandrapidschair.com" />
      <add key="SMTPServer" value="localhost" />
      <!-- ************************************************ -->
      <!-- Development (testing) -->
      <!-- ************************************************ -->
      <add key="DebugMode" value="true" />
      <add key="PopulateTestData" value="true" />
      <add key="PopulateTestObjects" value="false" />
      <add key="Logs" value="C:\Logs\" />
      <!-- ************************************************ -->
    </appSettings>
  </development3>

  <!-- Jasmine 24-10-2021 start-->
  <development4>
    <appSettings>
      <!-- ************************************************ -->
      <!-- Joe DeWitt's workstation -->
      <!-- ************************************************ -->
      <add key="EnvironmentType" value="development4" />
      <add key="MachineNames" value="WS01" />
      <!-- ************************************************ -->
      <!-- EMAIL  -->
      <!-- ************************************************ -->
      <add key="ErrorEmailRecipient" value="jdewitt@grandrapidschair.com" />
      <add key="AutomatedEmailUser" value="GRCC Portal (NO REPLY)" />
      <add key="AutomatedEmailEmail" value="noreply@grandrapidschair.com" />
      <add key="SMTPServer" value="localhost" />
      <!-- ************************************************ -->
      <!-- Development (testing) -->
      <!-- ************************************************ -->
      <add key="DebugMode" value="true" />
      <add key="PopulateTestData" value="true" />
      <add key="PopulateTestObjects" value="false" />
      <add key="Logs" value="C:\Logs\" />
      <!-- ************************************************ -->
    </appSettings>
  </development4>
  <!-- Jasmine 24-10-2021 end -->

  <staging>
    <appSettings />
  </staging>

  <production>
    <appSettings />
  </production>

  <connectionStrings configSource="devstrings.config">
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-protean-8253a4bf-b1b7-4fa1-b627-5cb5c5aae487;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-protean-8253a4bf-b1b7-4fa1-b627-5cb5c5aae487.mdf" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings file=".\secretappsettings.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Changed by Jasmine 24-10-2021 -->
    <add key="EnvironmentType" value="development4" />
    <!--<add key="owin:AutomaticAppStartup" value="false"/>-->
    <!-- The license context used -->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />

    <!-- The year we started using Epicor -->
    <add key="EpicorStartYear" value="2011" />
    
    <!-- Phone Number -->
    <add key="PhoneNumber" value="616-774-0561" />
  </appSettings>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="600" mode="InProc" />
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="600" slidingExpiration="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" enableVersionHeader="false" />
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="~/Errors/Error400.aspx" />
      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
      <error statusCode="500" redirect="~/Errors/Error500.aspx" />
    </customErrors>
  </system.web>
  <location path="Account/ForgotPassword">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ForgotPasswordConfirmation">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ResetPassword">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ResetPasswordConfirmation">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.11.4.0" newVersion="106.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>