@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Sales Rep Management";
}

@* Page Heading *@
<div class="pt-page-header d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-tachometer-alt fa-fw mr-2"></i>Sales Rep Management</h1>
</div>

@* Content Row *@
@*<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-users fa-fw mr-2"></i>Manage Sales Reps</h6>
            </div>
            <div class="card-body">
                <p>Add and Edit sales rep users in the Portal.</p>
                <a href="@Url.Action("Import", "SalesReps", new { area = "Employee" })" class="btn btn-primary btn-icon-split mr-4 mb-4">
                    <span class="icon text-white-50">
                        <i class="fas fa-user-plus"></i>
                    </span>
                    <span class="text">Add</span>
                </a>
                <a href="@Url.Action("RepList", "SalesReps", new { area = "Employee" })" class="btn btn-primary btn-icon-split mr-4 mb-4">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">View or Edit</span>
                </a>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-xl-4 col-lg-7 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-users fa-fw mr-2"></i>Manage Sales Reps</h6>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action " href="@Url.Action("Import", "SalesReps", new { area = "Employee" })" role="tab">
                        <span class=""><i class="fas fa-user-plus mr-2"></i></span>
                        <span class="">Add Rep To Portal</span>
                    </a>
                    <a class="list-group-item list-group-item-action " href="@Url.Action("RepList", "SalesReps", new { area = "Employee" })" role="tab">
                        <span class=""><i class="fas fa-edit mr-2"></i></span>
                        <span class="">View / Edit Portal Reps</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

